{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-typescript",
    "plugin:putout/recommended"
  ],
  "globals": {
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "putout",
    "module-resolver",
    "emotion",
    "react-hooks"
  ],
  "rules": {
    "no-var": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "align": {
          "beforeColon": true,
          "afterColon": true,
          "on": "colon",
          "mode": "minimum"
        },
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true,
          "mode": "minimum"
        }
      }
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-extra-parens": [
      "error",
      "all",
      {
        "enforceForArrowConditionals": false,
        "nestedBinaryExpressions": false,
        "ignoreJSX": "multi-line"
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "no-nested-ternary": "off",
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "no-underscore-dangle": "off",
    "max-len": "off",
    "one-var": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false,
        "avoidExplicitReturnArrows": false
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "default-case": "off",
    "valid-typeof": [
      "error",
      {
        "requireStringLiterals": false
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "import/newline-after-import": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight",
          "to"
        ],
        "aspects": [
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-curly-spacing": [
      "error",
      "always",
      {
        "spacing": {
          "objectLiterals": "never"
        }
      }
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "putout/putout": "off",
    "putout/destructuring-as-function-argument": "off",
    "module-resolver/use-alias": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "projectRoot": "./frontend/"
      }
    ],
    "emotion/jsx-import": "off",
    "emotion/syntax-preference": [
      "error",
      "string"
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": "./frontend/tsconfig.json"
      }
    }
  }
}
