{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:putout/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "module-resolver",
    "import",
    "putout",
    "sort-destructure-keys",
    "sort-exports"
  ],
  "rules": {
    "no-var": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        }
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "key-spacing": [
      "error",
      {
        "align": {
          "beforeColon": true,
          "afterColon": true,
          "on": "colon",
          "mode": "minimum"
        },
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true,
          "mode": "minimum"
        }
      }
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-extra-parens": [
      "error",
      "all",
      {
        "enforceForArrowConditionals": false,
        "nestedBinaryExpressions": false,
        "ignoreJSX": "multi-line"
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "no-nested-ternary": "off",
    "space-before-function-paren": [
      "error",
      "always"
    ],
    "no-underscore-dangle": "off",
    "max-len": "off",
    "one-var": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidQuotes": false,
        "avoidExplicitReturnArrows": false
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ObjectPattern": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ImportDeclaration": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        },
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 2,
          "consistent": true
        }
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "default-case": "off",
    "valid-typeof": [
      "error",
      {
        "requireStringLiterals": false
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "padding-line-between-statements": "off",
    "nonblock-statement-body-position": [
      "error",
      "beside"
    ],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true,
        "minKeys": 2
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    "array-element-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 2
      }
    ],
    "no-void": "off",
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "import/newline-after-import": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        }
      }
    ],
    "putout/putout": "off",
    "putout/destructuring-as-function-argument": "off",
    "putout/multiple-properties-destructuring": [
      "error",
      {
        "minProperties": 2
      }
    ],
    "putout/single-property-destructuring": "off",
    "putout/long-properties-destructuring": "error",
    "module-resolver/use-alias": [
      "error",
      {
        "extensions": [
          ".ts"
        ],
        "projectRoot": "./backend/"
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": "error",
    "sort-exports/sort-exports": [
      "error",
      {
        "sortDir": "asc",
        "ignoreCase": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "directory": [
          "./backend/tsconfig.json",
          "./frontend/tsconfig.json"
        ]
      }
    }
  }
}
